<div>
  {{>dashPartial}}
  <div class="row">
    <div id="portfolio-title" class="col-12 d-flex justify-content-center">
      <h2>{{username}}'s Dashboard</h2>
    </div>
  </div>

  <div class="container">
    <form action="/users/dashboard" method="post">
      <div class="input-group" id="add-input">
        <input
          class="form-control border-5"
          type="text"
          name="name"
          id="portfolio-name"
          placeholder="Add Portfolio"
        />
        <button class="btn btn-light btn-outline-primary" type="submit">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
<br />

<div class="row">
    <div id="portfolio-title" class="col-12 d-flex justify-content-left">
      <h4>Your Portfolios:</h4>
    </div>
  </div>

{{#each portfolios}}

  <div class="card">
    <div class="card-body">
      <div class="card-header">
        <h5>
        <a href="/users/portfolio/{{_id}}">{{name}}</a>
        </h5>
      </div>
      <div class="card-text">
        <div id="change-portfolio" class="row">
          <div class="col-auto">
            <form action="/users/edit/{{id}}" method="get">
              <button
                class="btn btn-light btn-outline-success submit-btn"
                type="submit"
              >
                Edit
              </button>
            </form>
          </div>
          <div class="col-auto">
            <form action="/users/delete-portfolio/{{id}}" method="post">
              <button
                class="btn btn-light btn-outline-danger submit-btn"
                type="submit"
              >
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{{/each}}
