{{>dashPartial}}

<h1>Welcome {{username}}!</h1>

<form action="/users/dashboard" method="post">
  <label for="portfolio-name">Portfolio Name</label>
  <input type="text" name="name" id="portfolio-name" placeholder="Warren Buffett's Portfolio">

  <button type="submit">Create Portfolio</button>
</form>

{{#each portfolios}}
<p>Portfolio Found:</p>
<a href="/users/portfolio/{{_id}}">{{name}}</a>
<form action="/users/edit/{{id}}" method="get">
  <button type="submit">Edit Portfolio</button>
</form>
<form action="/users/delete-portfolio/{{id}}" method="post">
  <button type="submit">Delete Portfolio</button>
</form>
{{/each}}
