{{>dashPartial}}

<h1>Your portfolio!</h1>

Portfolio Name:
{{name}}

<form action="/users/portfolio/{{_id}}" method="post">
  <p>Add Stock</p>

  <label for="stock-ticker">Stock Ticker</label>
  <input type="text" name="ticker" id="stock-ticker" placeholder="AAPL" />

  <button type="submit">Add Stock</button>

</form>

{{#each stocks}}
  <p>Ticker: {{ticker}} </p>
  <p>{{quote.0.[Global Quote].[02. open]}}</p>
  <form action="/users/portfolio/delete/{{../_id}}/{{_id}}" method="post">
    <button type="submit">Remove Stock</button>
  </form>
{{/each}}
