{{>dashPartial}}

<h1>Your portfolio!</h1>

<p> Portfolio Name: {{name}}</p>

<form action="/users/portfolio/{{_id}}" method="post">
  <p>Add Stock</p>

  <label for="stock-ticker">Stock Ticker</label>
  <input type="text" name="ticker" id="stock-ticker" placeholder="AAPL" />

  <button type="submit">Add Stock</button>

</form>

{{#each stocks}}
  <p>Ticker:</p>
  <a href="/stock/{{_id}}">{{ticker}}</a>
  <p>Current Price: {{quote.0.[Global Quote].[05. price]}}</p>
  <p>Change: {{quote.0.[Global Quote].[09. change]}} ({{quote.0.[Global Quote].[10. change percent]}})</p>
  <form action="/users/portfolio/delete/{{../_id}}/{{_id}}" method="post">
    <button type="submit">Remove Stock</button>
  </form>
  <br>
  <hr>
{{/each}}
